/**
 * Main css styles. For app wide styles and animation.
 */

body {
  font-family: 'Open Sans', sans-serif;
}

button {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border: none;
  border-radius: 6px;
  font-family: 'Open Sans';
  color: #ffffff;
  font-size: 1em;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

button:active {

}

.message {
  text-align: center;
}

.message p {
  font-size: 1.5em;
}

.cup-row {
  margin: 100px auto;
  height: 500px;
  position: relative;
  width: 800px;
}

.cup-component {
  position: absolute;
  text-align: center;
  z-index: 100;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cup-component:hover {
  cursor: pointer;
}

.cup-component.up {
  top: -50px;
}

.cup-component.down {
  top: 80px;
}

.cup-component img {
  height: 150px;
  width: 150px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.ball {
  position: absolute;
  text-align: center;
  top: 120px;
  width: 150px;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ball img {
  width: 90px;
  height: 90px;
}

.position-0 {
  display: none;
}

.position-1 {
  left: -75px;
}

.position-2 {
  left: 325px;
}

.position-3 {
  left: 725px;
}
