/**
 * Main css styles. We handle animation here.
 */

.cup-row {
  margin: 100px auto;
  position: relative;
  width: 500px;
}

.cup-component {
  border: 2px solid black;
  position: absolute;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cup-component:hover {
  cursor: pointer;
}

.cup-component.up {
  top: -50px;
}

.cup-component.down {
  top: 0;
}

.position-1 {
  left: 0;
  background-color: red;
}

.position-2 {
  left: 50%;
  background-color: red;
}

.position-3 {
  left: 100%;
  background-color: red;
}
